* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4e4ba;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form input,
select,
button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  height: 3rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.dropdown img {
  height: 25px;
}

.select-container {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 2px;
}

i {
  font-size: 1.25rem;
}
.msg {
  margin: 2rem 0;
}

button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}
